* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  margin: 20px auto;
  font-size: 1.2rem;
  background-image: url("https://images.unsplash.com/photo-1507608158173-1dcec673a2e5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}

.logos img {
  width: 6rem;
  margin-right: 1em;
}

.logos img:hover {
  margin-bottom: -5px;
}

.photo img {
  width: 15rem;
  height: 15em;
  border: 0.2rem solid red;
  border-radius: 100%;
}

.photo {
  padding-left: 1em;
}

.logos {
  margin: 1.5rem;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.name-title p {
  font-size: 1.3rem;
  text-align: center;
}

h1 span {
  color: red;
}

.career-objectives p {
  text-align: justify;
}

div.info-container {
  width: 100%;
  height: 60vh;
  background-color: black;
  color: #fff;
  padding: 1em;
  margin-bottom: 40px;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-title {
  padding-right: 1em;
}

.name-photo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 800px;
}

div.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2em;
}

div.info div {
  padding: 0 1em;
}

main {
  margin: 10px auto;
  width: 90%;
}

h3 {
  color: red;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.details {
  margin-bottom: 2em;
}

.skills ul {
  width: 95%;
  margin: 0 2em;
}

.skills li {
  margin-top: 0.5rem;
  width: 90%;
  list-style-type: circle;
}

progress[value] {
  width: 100%;
  height: 1rem;
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.cert ul {
  margin-left: 2em;
  margin-top: 1rem;
}

li {
  list-style-type: circle;
}

.job ul,
.edu-item ul {
  margin: 0 0 0 2em;
  max-width: 800px;
}

.job,
.edu-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 2em;
}

.item {
  max-width: 650px;
}

div.info > div > a {
  text-decoration: none;
  color: white;
}

div.cert a,
.item a {
  text-decoration: none;
  color: inherit;
}

div.cert i {
  font-size: 0.7em;
}

div.info > div > a:hover {
  color: grey;
}

@media (max-width: 678px) {
  .skills div {
    display: block;
  }

  .photo img {
    width: 10rem;
    height: 10rem;
  }

  h1 {
    font-size: 2rem;
  }

  .name-title p {
    font-size: 1em;
  }
}

@media (max-width: 420px) {
  .photo img {
    width: 7rem;
    height: 9rem;
    border-radius: 0%;
  }
  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 720px) {
  .about-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .skills ul li span {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 10px;
  }
}
